$small:28em;
$medium:40em;
$large:66em;
$content-area-max:1280px;

@media all and (min-width:$small){
  html,body{
    width: 100%!important;
    width: 100vw!important;
    height: 100%!important;
    height: 100vh!important;
    position: absolute;
  }
}

body{animation: small 0.001s;}


@keyframes small{
  from { clip: rect(1px, auto, auto, auto); }
  to { clip: rect(0px, auto, auto, auto); }
}

@keyframes large {
  from { clip: rect(1px, auto, auto, auto); }
  to { clip: rect(0px, auto, auto, auto); }
}
