body{
  overflow-y: scroll;
}

button.hamburger{
  position: absolute;
  top:1em;
  right: 1em;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $dark;

  &:hover{@include bounce();}
}

.astudillo{
  @include img_sprite();
  background-image: $astudillo;
  background-size: contain;
  overflow: hidden;
  width: 70%;
  height: auto;
  @include fadeIn();

  &::after{padding-bottom: 50%;}

  h1,h2,h3{position: absolute;left: -300%;}
}

.corregidora{
  @include img_sprite();
  background-image: $corregidora;
  background-size: contain;
  overflow: hidden;
  width: 50%;
  height: auto;
  &::after{padding-bottom: 50%;}

  h1,h2,h3,h4{position: absolute;left: -300%;}
}
