body{
  overflow-y: scroll;
  font-family: $gotham;
  font-weight: 200;
}

.container{
  z-index: 1;
}
section,header{
  position: relative;
  width: 100%;
  //swidth: 100vw;
  display: table;
}

i.burger{
  width: 38px;
  @include img_sprite(100%);
  position: absolute;
  top:1em;
  right: 1em;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $a_green;
  border: none;
  outline: 0;

  &::after{
    background: no-repeat center center;
    @include burger($dark);

    &:active{  @include burger($warning_orange);}
  }
  @media(min-width: $large){display: none;}
}

nav ul.sociales {
  li{
      display: inline-block;
      .fa{
          font-size: 2em;
          padding:2em;
          //margin-top: 50px;

          &:hover, &:active{
            color: $a_green;
            background-color:transparent;
          }
      }
  }

  &::after{
    content: "@astudilloqro";
    display: block;
    font-weight: 400;
  }
}

section.skewed{
  margin-bottom: 6em!important;
  &::after{
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    background: inherit;
    z-index:0;
    bottom: -4em;
    transform-origin: left bottom;
    transform: skewY(-3deg);
  }

  &.preceded{
      padding-top: 6em!important;
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
  }

  &.anteceded{
    &+section{
      &::before{
        content: '';
        width: 100%;
        height: 70%;
        position: absolute;
        background: inherit;
        z-index: 0;
        top: -4em;
        transform-origin: left bottom;
        transform: skewY(-3deg);
    }
    }
  }

  &>*{
    //z-index: 2;
  }
}

button.hamburger{
  position: absolute;
  top:5px;
  right: 5px;
  z-index: 999;
  display: block;
  touch-action: none;
  color: $a_grey;

  &:hover{@include bounce();}
}

button.arrow,
input[type="submit"].arrow,
input[type="reset"].arrow,
input[type="button"].arrow, form button[type="submit"] {
  @include img_sprite(1em);
  border: none;
  text-align: right;
  float: right;
  font-size: 1em;
  padding-right: 1.15em;
  color: $a-green;

  &::after{
    background: no-repeat center center;
    @include a_arrow($a-green);
    position: absolute;
    right: 0;
    top: 50%;
    height: auto;
    width: .95em;
    transform: translateY(-50%);
  }
}

.metropol{
  @include img_sprite_pre(11%);
  color:transparent;
  position: relative;
  padding-left: 0;
  &::before{
    @include metropol($w);
    width: 100%;
    margin: 0;
    background-size: 100%;
    padding-left: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-39%);
  }
}

input[type].required::placeholder{
  color: crimson;
}

form label.err{color: $warning_orange; font-weight: 300; font-size: .95em;}

form .error_message{color: $warning_orange;}

%textImgSwap{
  position: absolute;
  left: -300%;
  font-size: .5em;
  z-index: -1;
}

.astudillo{
  @include img_sprite();
  @include astudillo();
  background-size: contain;
  overflow: hidden;
  width: 70%;
  height: auto;
  @include fadeIn();

  &::after{padding-bottom: 38%;}

  h1,h2,h3{@extend %textImgSwap;}
}

.corregidora{
  @include img_sprite();
  @include corregidora();
  background-size: contain;
  overflow: hidden;
  width: 50%;
  height: auto;
  &::after{padding-bottom: 50%;}

  h1,h2,h3,h4{@extend %textImgSwap;}
}

.partidoswrapp,.flechaswrapp{width: 48%;display: inline-block;}
.pri{
  @include img_sprite();
  background-image: $pri;
  background-size: contain;
  overflow: hidden;
  width: 47%;
  height: auto;
  margin: 0;
  margin-right: 1%;
  float: left;

  &::after{padding-bottom: 100%;}

  h5{@extend %textImgSwap;}
}

.verde{
  @include img_sprite();
  background-image: $partidoverde;
  background-size: contain;
  overflow: hidden;
  width: 49%;
  height: auto;
  margin:0;
  float: left;

  &::after{padding-bottom: 100%;}

  h5{@extend %textImgSwap;}
}

.flechas_coalicion{
  @include img_sprite();
  @include flechas_coalicion();
  background-size: contain;
  overflow: hidden;
  width: 100%;
  height: auto;
  &::after{padding-bottom: 48%;}
}
