section#grande{
  color: $w;
  background-color: $a_grey;
  .container{padding-top: 2em;padding-bottom: 2em;}
  h1{color:$a_green;strong{color:$w;text-transform: uppercase;}}

  li{
    list-style: none;
    padding-left: 1.5rem;
    border-left: 3px solid $a_green;
    line-height: 1.25em;
    margin-bottom: 2rem;
    p{
      display: inline-block;
      //background-color: crimson;
      //color:$w;
      font-size: 1.5rem;
      line-height: 2.5rem;
      //padding: 0;
      //margin: 0;
      z-index: 999;
      display: block;
      color: inherit;
      margin-bottom: 4rem;
      font: -apple-system-body;
      strong{font-weight: 400;color: $a_green;}
    }

    strong{font-weight: 400;}
  }

  @media (min-width: $large){
    .container{  padding: 2em 6em;}
    li{
      width: 40%;
      margin: 0 1.5% 1.5em 1%;
      display: inline-block;
      line-height: 1.95rem;
    }
  }
}
