header#hero{
    height: 100%;
    height: 100vh;
    background-color: $a_grey_shade ;
    background: url(../images/Ricardo_Astudillo_Suarez-mv.jpg) no-repeat center center;
    background-size: cover;

    .astudillo{
      @include astudilloSVG();
      width: 100%;
      right: auto;
      left: auto;
      position: absolute;
      top: 30px;
    }

    .logos{
      width: 50%;
      left: 0;
      position: absolute;
      top: 400px;
      top: 60vh;
    }

    .corregidora{
      width: 100%;
      display: block
    }

    div.coalicion{
      width: 50%;
      display: block;
      margin: 0 auto;;
      &>figure{
        width: 47.5%;
        float: left;
        &:first-child{margin-right: 5%}
      }
    }
    @media (min-width:$large){
      background: url(../images/Ricardo_Astudillo-back-dkp.jpg) no-repeat center center;
      background-size: cover;

      .astudillo{
        width: 50%;
        height: auto;
        margin: 0 auto;
        top:50%;
        transform: translateY(50%);
      }
    }
  }
