section#intro{
  padding-top: 1em;

  figure.ribbon{
    @include a_ribbon(bottom, 25%);
    bottom:0;
  }

  main p{
    width: 80%;
    font-size: .95em;
    font-weight: 300;
    line-height: 2em;
  }

  blockquote{
    width: 100%;
    background-color: $a_green;
    font-size: 1.125em;
    color: $w;
    padding: .5em;
    margin: 0;
    text-transform: uppercase;

    p{margin: 25px 0;}
    }
}
