section#intro{
  padding-top: 1em;
  main p{text-align: justify;}

  blockquote{
    width: 100%;
    background-color: $a_green;
    font-size: 2em;
    color: $w;
    padding: .5em;
    margin: 0;
    }
}
