section#reclutamiento{

  figure.ribbon{
    @include a_ribbon(top, 25%);
    bottom:0;
  }

  form{margin: 25px 0;width: 78%;}
  legend{
    overflow: hidden;
    .fa,.svg-inline--fa{
      font-size: 3em;
      color: $a_grey;
    }
    h3{
      font-size: 2.5em;
      color: $a_green;
      margin: 0;
      text-transform: uppercase;
      font-weight: 500;
    }
    p{font-size: .95em;}
  }

  input[type]{
    border-bottom-color: $a_green;
    &::placeholder{color:$a_green;}
  }
}
