aside#slidding_menu, div#panel{
  width: 100%;
  width: 100vw;
  min-height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;

  &::-webkit-scrollbar{
      width: 5px;
      background-color: transparent;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background-color: $a_green;
      border: none;
  }
}

aside#slidding_menu{
    background-color: $a_grey;
    //@include astudilloAbst($action-color);
    background-size: 200%;
    position: fixed;
    height: 100%;
    height: 100vh;
    width:100%;
    width: 100vw;
    z-index: 0;

    button.hamburger{color: $w;}

    .astudillo{
      @include astudillo($a_green,$a_green_dark,$w,$w);
      width: 100%;
      margin: 0 auto 3em auto;

    }
    nav{
        position: absolute;
        width: 90%;
        padding: .5em;
        margin: 0;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        ul.nav-links li{
            //@extend %serif;
            font-size: 1em;
            line-height: 1.25em;
            padding-bottom: .25em;
            text-transform: uppercase;
            font-weight: 100;
            text-transform: uppercase;
            color: $w;
            list-style: none;

            &:hover, &:active{color: $dark;}
        }
    }

    @media (min-width:$large){
      min-height: auto;
      height: 2em;
      background: none;
      z-index: 99;
      position: absolute;

      .astudillo{display: none;}

      nav {
        width: 85%;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        text-align: left;
        margin: 0 auto;

        ul.nav-links {
          display: inline-block;

          li{
            display: inline-block;
            font-size: .65em;
            color: $dark;
            display: inline-block;
            text-align: left;
            line-height: 2em;
            //margin-right: .5em;
            padding: 0 .5em;

            //&:last-child{margin-right: 0;}
            &:hover{cursor: pointer;color: $a_green_dark;border-bottom: 1px solid $a_green_dark;}
          }
        }

        ul.sociales{
          text-align: right;
          position: relative;
          display: block;
          float: right;
          top:0;

          li {
            margin:0;
            a{
              font-size: 1.25em;
              line-height: 1em;
              color: $a_green_dark;
              padding:.125em;
              margin: 0;
              text-decoration: none;

              &:hover{cursor: pointer;color: $dark;}
            }
          }

          &::after{
            //position: absolute;
            bottom: -30%;
            font-size: 1.25rem;
            color: $a_grey;
            margin-top: -.5em;
          }
        }
      }
    }
}
div#panel{
    background-color: $w;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    &.sliding{
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translatex(100%);
    }

}
